/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 20px;
  background-color:white;

}

h5 {
  font-size:2em;
}

ul {
  list-style-type: none;
}

/* Related to Slideshow Functionality */
.slideshowMatch {
  background:linear-gradient(to right, #cf738c, #E7d8dd);
}

.currentSlide {
  background-color:grey !important;
}

/* PhotoViewer for the LookBook Logic */
#photoViewer {
  display:none;
  justify-content:center;
  align-items:center;

  background-color:grey;
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  bottom:0;
  left:0;
  right:0;

  width:100%;
  height:100%;
  z-index:99;

  overflow-y:scroll;
  overflow-x:hidden;
}

#photoviewerImage {
  height:100%;
  width:100%;
}

#photoViewerImage:hover {
  overflow:auto;
}

/******************************************
/* LAYOUT
/*******************************************/
/* Header and Navigation */
header {
  font-size: 10px;
  padding:1% 0;
  border-bottom:solid;
}

nav {
  background-color: white;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%
  
}

nav h6 {
  color:red;
  font-weight:bold;
  font-family:Arial, Helvetica, sans-serif;
  background-color:lightblue;
  font-size:2em;
  border-radius:10%;
  
}

nav ul {
  display:flex;
  flex-flow: row wrap;
  flex:1 0 auto;
  justify-content: space-evenly;

}

nav ul li {
  background-color:white;
  font-weight:bold;
  font-size:1.5rem;
  padding:2%;
  border-radius:5%;
  
}

.hamburgerMenu {
  display:none;
}

/* Change color when mouse hovers over */

nav ul li:hover {
  background-color:#eb6464;
}

nav ul li a {
  font-weight:bold;
  font-size:1.5rem;
  text-decoration:none;
  color:black;
  margin:0px;
  width:100%;;
  height:100%;
  display:block;
}

nav button {
  font-weight:bold;
  font-size:1.5rem;
  border-radius:20%;
  border:none;
}

/* Section 1 */
.section1 {
  position:relative;
  display:flex;
  justify-content: space-between;
  background-image: url("../img/slideshow/salon.jpg");
  background-position:center;
  background-size:cover;
  width:100%;
  height:100%;
  padding:10% 0 10% 10%;
}

.section1 aside {
  border:none;
  display:flex;
  background:transparent;
  flex-flow: column nowrap;
  justify-content:flex-start;
}

.section1 aside p {
  color:black;
  writing-mode: vertical-rl;

}

.section1FlexContainer {
  display:flex;
  flex-flow: column nowrap;
  align-content:space-between;
}

.section1FlexContainer > * {
  padding: 5% 0;
  font-size:1em;
}

.section1FlexContainer > h1 {
  font-size:3em;
}

.section1FlexContainer > button {
  text-align:center;
  width:50%;
  margin:10% 0;
}

.section1Offer {
  color:white;
  background-color:black;
  padding-left: 5%;

}

#slideshowButtons {
  width:10%;
  position:absolute;
  bottom:1%;
  right:1%;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* Next & previous buttons */
.prev, .next {
  color:black;
  padding:2%;
  cursor:pointer;

}

.prev:hover, .next:hover{
  color:grey;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Section 2 */

.section2 {
  padding: 15% 1%;
  display:flex;
  justify-content:space-between;
}

.section2 img {
  width:25%;
  
}

.section2 div {
  text-align:center;
  margin:0 auto;
  padding:2% 5%;
  width:33%
}
/* Section 3 */

.section3 {
  padding: 15% 10%;
}

.whiteBox {
  background-color:white;
  padding:5% 5%;
  display:flex;
}

.whiteBox > div:first-child {
  width:50%;
  padding-right:5%;
}

.blogImage {
  width:50%;
  display:flex;
  align-items:center;
}

.section3 img {
  width:100%;
}

/* Section 4 */

.section4 {
  border:solid;
  border-color:peachpuff;
  height:100%;
  padding:15% 5%;
  display:flex;
  justify-content:space-evenly;
}

.portrait {
  width:33%;
  display:flex;
  flex-flow: column nowrap;
  justify-content:center;
  text-align:center;
  align-items:center;
}

.portrait div{
  background-color:black;
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
  width:40%;
}

.portrait img {
  width:50%;
  border-radius:10%;
  border:solid;
  border-width: 1em;
  border-color:black;
}

.nameTag {
  color:white;
  width: 100%;
  font-size:1.5em;
}

.role {
  background-color:grey;
  color:white;
  font-size:1em;
  margin:0 20% 10% 20%;
  border-radius:30%;
}



/* Section 5 */

.section5 {
  display:flex;
  padding: 5% 5%;
  justify-content:center;


}

.section5 div {
  width:50%;
  padding:5%;
  background:linear-gradient(to left,#C6C5CA, grey);
}

.section5 p {
  color:white;
  font-size:2em;
  margin-top: 10%;
  margin-bottom:10%;
  
}


/* Section 6 / Lookbook */

.section6 {
  border:solid;
  border-color:whitesmoke;
  padding: 5% 10%;


}

.Lookbook{
  display:flex;
  justify-content:center;
}

.Lookbook > div {
  width:33%;
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
}

.Lookbook img {
  margin:2%;
  border-radius:5%;
  transition: transform .2s;
  
}

.normalImage:hover {
  transform:scale(1.5);
}


/* Footer */

footer {
  padding: 1% 2%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

footer div a img {
  width:10%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* TABLET SIZE */
@media (max-width: 820px) {
/* Nav */
  nav {
    display:flex;
    position:relative;

  }

  nav > ul {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    z-index:99;
  }

  ul li{
    display:block;
    width:100%;

  }

  nav .bookOnline{
    display:none;
  }

  .hamburgerMenu{
    display:block;
    position:relative;
    z-index:99;
  }

  .hamburgerMenu ul {
    display:none;
    position:absolute;
    top:100;
    right:0;
  }

  .hamburger {
    display:block;
    width:100%;
    height:100%;
  }

  .hamburger:hover {
    border:solid;
  }

/* Section1 */
  .section1{
    padding:0;
    width:100%;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:flex-start;
  }

  .section1 aside{
    flex-flow:row nowrap;
    
  }

  .section1 aside p {
    writing-mode:horizontal-tb;

  }

  .section1FlexContainer h1{
    margin:5%;
    font-size:200%;    
  }

  .section1FlexContainer p {
    margin:5%;
    font-size:100%;
  }

  .section1FlexContainer > button {
    margin:auto;
    margin-bottom:5%;
  }

  .section1Offer {
    padding:0;
    width:100%;

    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
  }

  .section1Offer > button {
    margin-bottom:5%;
  }

  #slideshowButtons {
    margin-right:5%;
  }

  #slideshowTracker{
    display:flex;
    flex-flow:row nowrap;
  }

/* Section5 Random Ad */
  .section5 {
    display:none;
  }
}

/* for PHONES */
@media (max-width: 450px) {
  .section2 {
    flex-flow:column nowrap;

  }

  .section2 div {
    width:90%;
  }

  .whiteBox {
    width:100%;
    flex-flow:column nowrap;
  }

  .whiteBox > div:first-child {
    width:100%;
    padding-right:5%;
  }

  .whiteBox button {
    margin-bottom:5%;
  }

  .blogImage {
    width:100%;
  }

  .section4 {
    flex-flow:column nowrap;
  }

  .portrait {
    width:100%;
    margin-bottom:5%;
  }

  h5 {
    font-size:100%;
  }

  footer {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    align-items:center;
  }

  footer p {
    font-size:10px;
  }
}