/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 20px;
  background-color:white;

}

ul {
  list-style-type: none;
}


/******************************************
/* LAYOUT
/*******************************************/
/* Header and Navigation */
header {
  font-size: 10px;
  padding:2% 0;
}

nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

nav * {
  border:solid;
  border-color: yellow;

}

nav h6 {
  color:red;
  font-weight:bold;
  font-family:Arial, Helvetica, sans-serif;
  background-color:whitesmoke;
  
}

nav ul {
  display:flex;
  flex-flow: row wrap;
  flex:1 0 auto;
  justify-content: space-evenly;

}

nav ul li {
  background-color:white;
  font-weight:bold;
  font-size:1rem;
  
}

nav button {
  font-weight:bold;
  margin:1em;
  border-radius:20%;
  border:none;
}

/* Section 1 */
.section1 {
  display:flex;
  justify-content: space-between;
  background-image: url("../img/salon.jpg");
  background-position:center;
  background-size:cover;
  width:100%;
  height:100%;
  padding:10% 0 10% 10%;
}

.section1 aside {
  border:none;
  display:flex;
  background:transparent;
  flex-flow: column nowrap;
  justify-content:flex-start;
}

.section1 aside p {
  color:black;
  writing-mode: vertical-rl;

}

.section1FlexContainer {
  display:flex;
  flex-flow: column nowrap;
  align-content:space-between;
}

.section1FlexContainer > * {
  padding: 5% 0;
  font-size:1em;
}

.section1FlexContainer > h1 {
  font-size:3em;
}

.section1FlexContainer > button {
  text-align:center;
  width:50%;
  margin:10% 0;
}

.section1Offer {
  color:white;
  background-color:black;
  padding-left: 5%;

}

/* Section 2 */

.section2 {
  padding: 8% 1%;
  display:flex;
  justify-content:space-between;
}

.section2 img {
  width:25%;
  
}

.section2 div {
  text-align:center;
  margin:0 auto;
  padding:2% 5%;
  width:33%
}
/* Section 3 */

.section3 {
  background-color:lightgrey;
  padding: 10% 15%;
}

.whiteBox {
  background-color:white;
  padding:5% 5%;
  display:flex;
}

.whiteBox > div:first-child {
  width:50%;
  padding-right:5%;
}

.blogImage {
  width:50%;
  display:flex;
  align-items:center;
}

.section3 img {
  width:100%;
}

/* Section 4 */

.section4 {
  border:solid;
  border-color:peachpuff;
  height:100%;
  padding:10% 5%;
  display:flex;
  justify-content:space-evenly;
}

.portrait {
  width:33%;
  display:flex;
  flex-flow: column nowrap;
  justify-content:center;
  text-align:center;
  align-items:center;
}

.portrait img {
  width:50%;
  border-radius:10%;
}



/* Section 5 */

section.section5 {
  border:solid;
  border-color:cyan;
  display:flex;
}


/* Section 6 / Lookbook */

section.Lookbook {
  border:solid;
  border-color:whitesmoke;
  display:flex;
}

/* Footer */

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
